.home-page {
  width: 100vw;
  height: 100vh;
  font-family: assistant-bold;
  .container {
      padding-top: 100px;
    .heading {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .branch-selector-container {
      height: 300px;
      gap: 70px;
      font-size: 30px;
      .branch-link {
          border-radius: 3px;
          padding: 20px;
          background-color: #d6b48fbd;
      }
    }
  }
}
