.app-header-container {
  background-color: black;
  color: aliceblue;
  .app-header {
    height: 7vh;
    .logo {
      font-family: righteous;
      font-size: 36px;
    }
    nav {
      font-size: 19px;
    }
  }
}
