.el-popper {
  font-family: assistant;
  .popper-1-container {
    height: 360px;
    min-width: 320px;
    font-family: assistant;
    .links-container {
      .el-dropdown-menu__item {
        height: 27px;
        display: flex;
        justify-content: right;
        &:hover {
          background-color: #fff;
        }
        .link-container {
          justify-content: flex-end;
          padding-top: 10px;
          p {
            text-align: right;
            font-size: 16px;
            padding: 0 10px 0 0;
            &:hover {
              color: #f0c678;
            }
          }
          svg {
            width: 12px;
            height: 12px;
            margin-inline-end: 10px;
          }
        }
      }
    }
  }
}
