@font-face {
    font-family: rebrand;
    src: url(/src/assets/font/Rebrand/RebrandTxtBoldit.ttf);
}
@font-face {
    font-family: outfit;
    src: url(/src/assets/font/Outfit/Outfit-Light.ttf);
}
@font-face {
    font-family: charlie;
    src: url(/src/assets/font/Charlie__Atlassian/CharlieDisplay-Regular.ttf);
}
@font-face {
    font-family: lato;
    src: url(/src/assets/font/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-light;
    src: url(/src/assets/font/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: rubik;
    src: url(/src/assets/font/Rubik/Rubik-Regular.ttf);
}
@font-face {
    font-family: rubik-light;
    src: url(/src/assets/font/Rubik/Rubik-Light.ttf);
}
@font-face {
    font-family: rubik-bold;
    src: url(/src/assets/font/Rubik/Rubik-Bold.ttf);
}
@font-face {
    font-family: assistant;
    src: url(/src/assets/font/Assistant/Assistant-Regular.ttf);
}
@font-face {
    font-family: assistant-light;
    src: url(/src/assets/font/Assistant/Assistant-Light.ttf);
}
@font-face {
    font-family: assistant-bold;
    src: url(/src/assets/font/Assistant/Assistant-Bold.ttf);
}
@font-face {
    font-family: righteous;
    src: url(/src/assets/font/Righteous/Righteous-Regular.ttf);
}